body {
  background: #f7fcfc;
}

* {
  font-family: "Rubik", sans-serif;
  color: rgb(68, 111, 116);
}

p {
  font-size: 17px;
}

#logo {
  height: 7rem;
  margin-bottom: 1rem;
}

#banner {
  display: block;
  border-radius: 0.5rem;
}

.gallery img {
  margin: 2rem 0;
  width: 45%;
}

#checkout {
  display: grid;
  place-items: center;
  border: 1px solid #e5f0f0;
  padding: 2rem 3rem;
  border-radius: 1rem;
  text-align: center;
}

#buy-now {
  margin-top: 1.5rem;
  background: #ff89af;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

#buy-now:hover {
  text-decoration: none;
  background: #cf6e8d;
}

.card {
  transition: 0.3s ease-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background: white;
  border-radius: 1rem;
  display: grid;
  place-items: center;
  padding: 3rem;
}

@media (max-width: 760px) {
  .card {
    padding: 2rem;
    margin: 1rem 0;
  }
}
